* {
    margin: 0;
    padding: 0;
}
body{
  margin: 0!important;
  padding: 0!important;
  border: none!important;
  display: block;
  background-color: #FAFAFA;
  
}

p h1 h2 h3 h4  h5 { margin: 0;
   padding: 0;
  }

 p {
   font-family: 'Roboto', sans-serif; 
   font-size: 16px;
   color: #4E4D4D;
   line-height: 1.75em;
   font-size: calc(16px + (20 - 16) * ((100vw - 340px) / (1940 - 340)));} 


.wrapper{
  
  display: inline-block;
  justify-content: center;
  
  
 
}


.darkTheme{
  background-color: #2F2F2F;

}
#dark{
  background-color: #2F2F2F;
}

#light{
  background-color: #FAFAFA;
}

.nav-container{
  
  

}


.navigation
        {   height:  12vh;
            /* border: 2px solid rgb(238, 255, 0); */
            display: grid;
            grid-template-columns: auto auto auto auto; 
            grid-template-rows: auto auto auto;
            text-align: center; 
            
            
            
            
           
        }
  
 .logo{
    /* to take off the border remove this */
    /* border: 2px solid rgb(238, 255, 0); */
    /* to take off the border remove this */
    align-content: left;
    text-align: left;
    max-width: 103px;
    height: auto;
    padding-left: 10%;
    padding-top: 10%;
 }       
.middleDiv{
    /* to take off the border remove this */
    /* border: 2px solid rgb(164, 175, 7); */
    /* to take off the border remove this */
    padding-top: 10%;
}
.empthyDiv{
    /* to take off the border remove this */
    /*  border: 2px solid rgb(129, 138, 1); */
    /* to take off the border remove this */
}
.rightDiv{
    /* to take off the border remove this */
    /* border: 2px solid rgb(103, 107, 39); */
    /* to take off the border remove this */
    align-content: right;
    padding-top: 10%;
}

.linkClass{
  color:#4E4D4D;
}

.aboutButton{
  color:#4E4D4D;
  background-color: #FAFAFA;
  display: inline-block;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  position:relative;
  margin-top: 10%;
  margin-right: 10%;
}


.aboutButton a{  
  position: relative;
  padding-top: 35% !important;
  margin-top: 10% !important;
  margin-right: 10% !important;
}


.aboutButton:hover{
  color: #5f5e5e;
  transform: translateX(3px);
  transition-timing-function: ease-in-out;
  transition-duration: .2S;

}

.aboutButton:active{
  color: #797979;
  transition-timing-function: ease-in-out;
  transition-duration: .2S;
}


.contactButton {
  color:#F6F5F1;
  background-color: #FD5258!important;
  border-radius: 3px!important;
  display: inline-block!important;
  border: none!important;
  padding: 5px 15px!important;
  cursor: pointer!important;
  box-shadow: 0 8px 6px -6px #aaaaaa!important;
  text-align: center!important;
  position:relative!important;
  margin-top: 10%;
  margin-right: 10%!important;
}

.contactButton:hover { 
  background-color:#fd6a6f!important;
  transform: translateX(3px)!important;
  transition-timing-function: ease-in-out!important;
  transition-duration: .2S!important;
  color: #FAFAFA!important;
}


.contactButton :active {
background-color: #c73136;
transition-duration: .2S;
}

a{
  font-family: 'Hind',  sans-serif ;
  font-size: 16px;
  font-weight:700;
  text-decoration: none;
  color:#4E4D4D;
  letter-spacing:.075em;
}

img {
  height: auto;
}



ul{display: inline-block;}

ul.social-media-list img {
  padding: 5px;
  border-radius: 5px;
  width: 36px;
  height: 36px;
}

ul.social-media-list li {
  display: inline-block;
  margin: 2px;
}
.social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
}
.social-mediaicon-div{
  display: inline-flexbox;
  align-self: center;
  justify-self: center;
}

/*this is the footer container */
.sitemap{

  background-color: #2F2F2F;
  height: 240px;
  width:100%;
  /* border: 2px solid rgb(238, 255, 0); */
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 2.95fr 1fr;
  grid-template-areas:   
        "heading socialMedia"
        "copyRight copyRight";
  text-align: center; 
  margin:0;
}

.heading {
  /* border: 2px solid rgb(0, 255, 221);*/
  grid-area: heading;
  display:flex;
  align-items: center; /* Vertical center of image & text */
  padding: 10px;
}

.socialMedia{
  /* border: 2px solid rgb(0, 255, 221);*/
  grid-area: socialMedia;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.copyright{
  /* border: 2px solid rgb(0, 255, 221);*/
  grid-area: copyRight;
  position: relative;
  text-align: center;
  align-items: center;
}

span {
  position: relative;
  left: 50%;
  top: 50%;
  bottom: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family:  'Hind',  sans-serif;
font-size: 12px;
color: #F6F5F1;
}

.centerText{
  color: #F6F5F1; text-align: center; 
}


.featuredProjects{
  background-color: #FAFAFA;
  /*remove these to remove the colors */
  
  /*remove these to remove the colors */
}


.projectContainer{
  
   /* to take off the border remove this */
  
   /* to take off the border remove this */
  padding-top: 5%;
  padding-bottom: 2%;


}

.projectContainer h1 {
  font-family: 'Playfair Display', serif;  font-weight:400;
  margin: 0;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 20%;
  font-size: calc(35px + (90 - 35) * ((100vw - 340px) / (1940 - 300)))!important;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


.carouselProject1-Heading {
  font-family: 'Playfair Display', serif;    margin: 0;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 20%;
  padding-bottom: 1%;
  font-size: calc(35px + (90 - 25) * ((100vw - 340px) / (1940 - 340)))!important;
  color: #FD5258; 
  text-align: left;
  
}

.carouselProject-P{
  text-align: left!important;
  
}

.carouselIndicatorCustom{
  display: inline-block;
  color: #FD5258;
}

.projectContainer p {
  padding-left: 10%;
  padding-right: 20%;
}


/* For Screen size of 320px or less*/

@media only screen and (max-width: 340px) {
  /* phones: */
  .navigation {
    margin: 7px;
    min-width: 340px;
    height: 18vh;
    
  }
  .logo{
    /* to take off the border remove this */
    /* border: 2px solid rgb(238, 255, 0); */
    /* to take off the border remove this */
    align-content: left;
    text-align: left;
    

    padding-left: 10%;
    vertical-align: middle;
 }     


  .sitemap {
    margin: 7px;
  }


  .projectContainer h1 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 20%;
    padding-bottom: 1%;
  }
  

    .featuredProjects{
      display: grid;
      grid-template-rows: auto; 
      /*remove these to remove the colors */
     
      /*remove these to remove the colors */
      
      margin: 7px;
    }
      
    .empthyDiv{
      display: none;
    }
    /* used to change to logo to black and white with media query*/
    #logo {
      content: url("../images/logo-black-sm.svg");
      min-width: 50px;
      margin-top: 5px;
    }


    #repeated-email {display: none;}
}



/* For Screen size of 1240px or more*/

@media only screen and (min-width: 1240px) {
  /* phones: */
  .navigation {
    width: 100%;
    margin: 10px;

  }
  .sitemap {
    width: 100%;
    margin: 0;
    padding:0;
  }
 


  .featuredProjects{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr ;
    grid-template-rows: auto; 
    column-gap: 1%;
    /* to take off the border remove this */
   
     /* to take off the border remove this */


  }


  .projectContainer h1 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 20%;
    padding-bottom: 5%;
    line-height: 1.0em;
  }
  
}

/* END For Screen size of 1240px or more*/

.caseStudyLink {
  text-decoration: none;
  font-family: 'Roboto', sans-serif; 
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -.003em;
  display: block;
  text-align: right;
  padding-top: 5%;
  padding-bottom: 8%;
  padding-right: 15%;
}

.project1  h1   {
  color: #FD5258;
}

.project2  h1  { 
  color: #0537F1;
}

.project3  h1   {
  color: #0E7AFF;
}


.icon{
  width: 21px;
  height: auto;
  position: relative;
  top: 1px;
  left: 5px;
}



.projectImage{
  max-width: 500px;
  height: auto;
  margin-left: 160px!important;
  margin-top: 30px!important;
  margin-right: 5px!important;
}



/*--Slider css--*/
/*--Slider css--*/
/*--Slider css--*/




      /*--Slider css--*/
      /*--Slider css--*/
      /*--Slider css--*/